{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block modal_cart %}
    {% include 'includes/cart_button.html' %}
{% endblock %}

{% block content %}
    <!-- Контент на странице -->
    <div class="row">
        <div class="container mt-5">
            <div class="row justify-content-center me-5 mt-2">
                <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                    {% if validlink %}
                    <input class="invisible" autocomplete="username" value="{{ form.user.get_username }}">
                        <h2 class="text-center mb-5">Установка нового пароля</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_new_password1" class="form-label">Новый пароль</label>
                                {% render_field form.new_password1 class="form-control" placeholder="Введите новый пароль" type="password" %}
                            </div>
                            <div class="mb-3">
                                <label for="id_new_password2" class="form-label">Подтверждение пароля</label>
                                {% render_field form.new_password2  class="form-control" placeholder="Введите пароль еще раp" type="password" %}
                            </div>
                            <button type="submit" class="btn btn-dark mt-2">Подтвердить</button>
                        </form>
                    {% else %}
                        <h2 class="text-center mb-4">К сожалению, эта страница недоступна</h2>
                        <h3 class="text-left mb-4 fs-6 fw-normal">Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась.<br><br>Пожалуйста, запросите новый сброс пароля.</h3>
                        <a class="nav-link  text-black btn-item bg-btn" href="{% url 'users:password_reset' %}">Получить новую ссылку</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}